In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('problem1.csv')
df

   Product A  Product B  Product C  Unnamed: 3
0         30         21          9         NaN
1         35         34          1         NaN
2         41         11         11         NaN

In [14]:


df[['Product A', 'Product B']]

   Product A  Product B
0         30         21
1         35         34
2         41         11