In [1]:
import pandas as pd
import numpy as np

In [2]:
## Creating a Pandas Series

In [3]:
data_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data_list)
series_from_list

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
custom_index = ['a', 'b', 'c', 'd', 'e']
series_custom_index = pd.Series(data_list, index=custom_index)
series_custom_index

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
array_data = np.array([100, 200, 300, 400, 500])
series_from_array = pd.Series(array_data, index=['p', 'q', 'r', 's', 't'])
series_from_array

p    100
q    200
r    300
s    400
t    500
dtype: int64

In [6]:
print(series_custom_index['a'])
print(series_custom_index['c'])
print(series_custom_index[0])
print(series_custom_index[2])

series_custom_index[['b', 'd']]

10
30
10
30

C:\Users\sanjo\AppData\Local\Temp\ipykernel_14716\1912294595.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_custom_index[0])
C:\Users\sanjo\AppData\Local\Temp\ipykernel_14716\1912294595.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_custom_index[2])

b    20
d    40
dtype: int64

In [7]:
series_custom_index[1:4]

b    20
c    30
d    40
dtype: int64

In [8]:
s1 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

addition = s1 + s2
subtraction = s2 - s1
multiplication = s1 * s2
division = s2 / s1

addition, subtraction, multiplication, division

(a    11
 b    22
 c    33
 d    44
 e    55
 dtype: int64,
 a     9
 b    18
 c    27
 d    36
 e    45
 dtype: int64,
 a     10
 b     40
 c     90
 d    160
 e    250
 dtype: int64,
 a    10.0
 b    10.0
 c    10.0
 d    10.0
 e    10.0
 dtype: float64)

In [9]:
s3 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s4 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])

s3 + s4

a     NaN
b    12.0
c    23.0
d     NaN
dtype: float64

In [10]:
print(series_custom_index.index)
print(series_custom_index.index.values)
print(series_custom_index.index.is_unique)
print(series_custom_index.index.has_duplicates)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
['a' 'b' 'c' 'd' 'e']
True
False

In [11]:
renamed_series = series_custom_index.copy()
renamed_series.index = ['A', 'B', 'C', 'D', 'E']
renamed_series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [12]:
# mini work here
students = ['Ram', 'Sita', 'Bishal', 'Nisha', 'Hari']
marks = [78, 85, 67, 90, 74]

marks_series = pd.Series(marks, index=students)
marks_series
print(marks_series['Sita'])
print(marks_series[['Ram', 'Nisha']])

85
Ram      78
Nisha    90
dtype: int64

In [13]:
print("Marks of Sita:", marks_series['Sita'])
print("Marks of Nisha:", marks_series['Nisha'])

Marks of Sita: 85
Marks of Nisha: 90

In [14]:
bonus = pd.Series([2, 2, 2, 2, 2], index=students)
final_marks = marks_series + bonus
final_marks

Ram       80
Sita      87
Bishal    69
Nisha     92
Hari      76
dtype: int64

In [15]:
print("Highest Marks:", final_marks.max())
print("Lowest Marks:", final_marks.min())

Highest Marks: 92
Lowest Marks: 69

In [16]:
result = final_marks >= 75
result

Ram        True
Sita       True
Bishal    False
Nisha      True
Hari       True
dtype: bool

In [17]:
print("Average Marks:", final_marks.mean())
print("Total Students:", final_marks.count())

Average Marks: 80.8
Total Students: 5