# Pandas Input and Output (I/O) â€“ All in One Notebook
This notebook demonstrates reading and writing CSV, JSON, Excel, and Text files using pandas.

In [ ]:
import pandas as pd

## Create a Sample DataFrame

In [ ]:

data = {
    "id": [1, 2, 3, 4, 5],
    "name": ["Ram Sharma", "Sita Khadka", "Bishal Thapa", "Nisha Rai", "Hari Pokhrel"],
    "city": ["Kathmandu", "Pokhara", "Butwal", "Dharan", "Lalitpur"],
    "salary": [50000, 48000, 52000, 47000, 51000]
}

df = pd.DataFrame(data)
df

## Export DataFrame to CSV

In [ ]:

df.to_csv("employees.csv", index=False)
print("Data exported to employees.csv")

## Read CSV File with Pandas

In [ ]:

df_csv = pd.read_csv("employees.csv")
df_csv

## Export DataFrame to JSON

In [ ]:

df.to_json("employees.json", orient="records", indent=4, force_ascii=False)
print("Data exported to employees.json")

## Read and Parse JSON File

In [ ]:

df_json = pd.read_json("employees.json")
df_json

## Work with Excel Files in Pandas

In [ ]:

df.to_excel("employees.xlsx", index=False)
print("Data exported to employees.xlsx")

df_excel = pd.read_excel("employees.xlsx")
df_excel

## Create and Read a Text File with Pandas

In [ ]:

text_data = """id,name,city,salary
6,Anita Gurung,Hetauda,49000
7,Suman Karki,Janakpur,46000
8,Rita Shrestha,Butwal,53000
"""

with open("employees.txt", "w", encoding="utf-8") as f:
    f.write(text_data)

print("Text file employees.txt created")

df_text = pd.read_csv("employees.txt")
df_text

## Convert Text File to CSV using Pandas

In [ ]:

df_text.to_csv("employees_from_text.csv", index=False)
print("Text file converted to CSV: employees_from_text.csv")

## Export Parsed Data to New Files

In [ ]:

df_csv.to_csv("employees_exported.csv", index=False)
df_json.to_json("employees_exported.json", orient="records", indent=4, force_ascii=False)
print("Exported employees_exported.csv and employees_exported.json")